<div class="container">

<h2 class = "intro">Welcome <%= @user.name %>!</h2>

<div class="columns">

  <div id="left_column">
    <h3>All Surveys</h3>
    <% @surveys.each do |survey| %>
      <p><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></p>
    <% end %>
  </div>

  <div id="right_column">
    <h3>My Surveys</h3>
    <% @user_surveys.each do |survey| %>
      <p><a href="/surveys/<%= survey.id %>/stats"><%= survey.title %></a></p>
    <% end %>
  </div>

</div>

</div>
